* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 5px;
}

/* Section Styles */
.bg-dark {
  background-color: #1f2937;
  color: #f9faf8;
}

.bg-light {
  color: #1f2937;
}

/* Header */
#header {
  font-size: 18px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  color: #f9faf8;
}

.nav-logo {
  font-size: 24px;
}

a.nav-logo {
  padding: 8px 0 8px 0;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  padding: 8px 0;
}

.header-content {
  padding: 100px 0;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 24px;
}

.header-text {
  flex: 1 1 auto;
}

.header-text h1,
.header-text p {
  margin-bottom: 16px;
}

.header-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.header-button {
  background-color: #3882f6;
  color: white;
}

.header-image {
  background-color: #666;
  width: 600px;
  height: 300px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Info Pane */
#info {
  padding: 40px 0 80px 0;
  text-align: center;
}

#info h2 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 900;
}

.card-layout {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
}

.card-text {
  width: 200px;
}

/* Testimonial Pane */
#testimonial {
  padding: 80px 500px;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-weight: 900;
}

/* Call to Action Pane */
#cta {
  margin-top: 80px;
  margin-bottom: 80px;
}

.cta-box {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  margin: auto 100px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-box h2 {
  margin-bottom: 16px;
}

.cta-button {
  color: #f9faf8;
  border: 2px solid #f9faf8;
}

/* Footer */
#footer {
  text-align: center;
  padding: 30px 0;
}
